* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none 
}

header, footer {
    background-color: #1F2937;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px auto;
    font-size: 0.9em;
    font-weight: light;
}

.header-links {
    display: flex;
    gap: 10px;
}

.header-bottom {
    padding-top: 80px;
    display: flex;
    margin-bottom: 48px;
}

.header-image {
    width: 400px;
    height: 200px;
}

.header-bottom-left h2 {
    font-size: 48px;
}
.header-bottom-left p {
    font-weight: light;
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    margin-top: 5px;
    background-color: #3882F6;
    padding: 8px 40px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.second-row{
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    justify-content: center;
}
.second-row h3 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
.secondrow-image {
    width: 125px;
    height: 125px;
    border: solid #3882F6 5px;
    border-radius: 10px;
}
.second-row-images{
    max-width: 200px;
    font-size: 18px;
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secondrow-image-info{
    display: flex;
}

.third-row {
    background-color: #E5E7EB;
    padding: 150px;
}

.third-row q {
    font-size: 36px;
    font-weight: light;
    color: #1F2937
}
.third-row p {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 24px;
}

.fourth-row-main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 80px 150px;
}

.call-square {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    padding: 0 50px;
    color: white;
    border-radius: 10px;
}

.fourth-row-button {
    border: solid white 1px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    padding: 5px 30px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}